@import './parametres.scss';
@import './Composants/navigation';
@import './Composants/dynamicText';
@import './pages/home';
@import './Composants/socialNetwork';
@import './Composants/scrollBottom';
@import './pages/contact';
@import './Composants/logo';
@import './pages/project';
@import './pages/notFound';
@import './Composants/mouse';
@import './Composants/connectionForm';
@import './pages/profil';
@import './Composants/navbar';
@import './Composants/bookForm';