@font-face {
  font-family: "font-1";
  src: url(./assets/fonts/JosefinSans-ExtraLight.ttf);
}
@font-face {
  font-family: "font-2";
  src: url(./assets/fonts/JosefinSans-Regular.ttf);
}
@font-face {
  font-family: "font-3";
  src: url(./assets/fonts/JosefinSans-Bold.ttf);
}

$font-3: "font-1", sans-serif;
$font-1: "font-2", serif;
$font-2: "font-3", serif;

$white: rgb(253, 253, 253);
$shadow: rgb(219, 218, 218);
$color-1: #fafeff;
$color-2: #00c1ec;
$blue: #0494f3;
$color-3: #e7f7fe;
$color-4: #fdeeee;
$color-5: rgb(40, 40, 40);
$black: rgb(0, 0, 0);
$red: rgb(253, 87, 87);
$green: rgb(47, 255, 82);
$gradiant: linear-gradient(108deg, rgb(21, 224, 106) 0%, rgb(134, 241, 197) 100%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;

  &::selection {
    color: $color-1;
    background: $color-2;
  }
}
html {
  scroll-behavior: unset;
}

body {
  font-family: $font-1;
  height: 100vh;
  background-color: $color-1;
  color: $black;

  @media screen and (max-width: 430px) {
    position: relative;
    max-width: 100vw;
    overflow-y: initial;
  }
}
main {
  position: relative;
}
.button {
  background: $color-3;
  height: 55px;
  width: 126px;
  border-radius: 50px;
  margin-top: 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    letter-spacing: 1px;
    color: $color-2;
  }
}
.titre {
  color: $color-5;
}
.error {
  color: red;
  font-weight: bold;
  padding: 0.5em;
}
.success {
  color: $blue;
  font-weight: bold;
  padding: 0.5em;
}
input[type="checkbox"] {
  box-shadow: none;
  width: 20px;
  margin: 10px 0;
}
input[type="submit"] {
  padding: 14px 20px;
  margin: 0;
  font-size: 1.1rem;
  padding: 10px 20px;
  font-family: $font-2;
  cursor: pointer;
  transition: 0.2s;
  margin: 0;

  &:hover {
    background: $color-2;
    color: $color-1;
  }
}
.hpLogo {
  color: #010606;
  justify-self: flex-start;
  cursor: pointer;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  margin-left: 24px;
  font-weight: bold;
  text-decoration: none;
}
.footerlink {
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.5rem;
  font-size: 14px;
 
  &:hover {
      color: #01bf71;
      transition: 0.3s ease-out;
  }
}
