#formulaire-responsive {
    max-width: 850px /*-- à modifier en fonction de la largeur désirée --*/;
    margin: 0 auto;
    width: 100%;
}
.rang-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.demi-colonne,
.colonne {
    float: left;
    position: relative;
    padding: 0.65rem;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/**---------------- Media query ----------------**/
@media only screen and (min-width: 768px) {
    .demi-colonne {
        width: 50%;
    }
}

.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 textarea, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 20px 6px 20px 20px;
}
.wpcf7 input[type="text"]:focus {
    background: #fff;
}
.wpcf7-submit {
    float: right;
    height: 45px;
    font-weight: 300;
    border-radius: 20px 6px 20px 20px;
    -moz-border-radius:20px 6px 20px 20px;
    -webkit-border-radius: 20px 6px 20px 20px;
    text-transform: uppercase;
    border-width: 2px;
    padding-left: 26px;
    padding-right: 26px;
}

span.wpcf7-not-valid-tip {
    text-shadow: none;
    font-size: 12px;
    color: #fff;
    background: #ff0000;
    padding: 5px;
}
div.wpcf7-validation-errors {
    text-shadow: none;
    border: transparent;
    background: #f9cd00;
    padding: 5px;
    color: #9c6533;
    text-align: center;
    margin: 0;
    font-size: 12px;
}
div.wpcf7-mail-sent-ok {
    text-align: center;
    text-shadow: none;
    padding: 5px;
    font-size: 12px;
    background: #59a80f;
    border-color: #59a80f;
    color: #fff;
    margin: 0;
}
.book-form-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width: 480px) {
        padding: 10px;
    }
}
.book-form {
    background: $gradiant;
    border-radius: 20px 6px 20px 20px;
    max-width: 800px;
    max-height: 750px;
    text-align: center;
    width: 100%;
    z-index: 1;
    display: grid;
    margin: 0 auto;
    padding: 80px 32px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.9);

    @media screen and (max-width: 400px) {
        padding: 32px 32px;
    }
}
.pay-form {
    background: rgba(228, 228, 228, 0.9);;
    border-radius: 20px 6px 20px 20px;
    max-width: 800px;
    max-height: 750px;
    text-align: center;
    width: 100%;
    z-index: 1;
    display: grid;
    margin: 0 auto;
    padding: 80px 32px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.9);

    @media screen and (max-width: 400px) {
        padding: 32px 32px;
    }
}
.book-lbl{
    margin-bottom: 30px;
}
